<nav class="header">
    <div class="container">
    	<div class="row">
            <div class="col-md-8">
            	<div class="pull-left logo" ng-click="showBottomResult()">MATCHMAKING</div>
            </div>
            <div class="col-md-4 pull-right">
            	<div class="pull-left header_matchcount">
			        	0 Matches
			        </div>
			        <div class="header_right">
			        <div class="header_username">Sudhakaran Govindaraj</div>
			        <div class="header_stats"><a href="#/stats">Stats</a></div>
			        <div class="header_logout"><a href="#/">Logout</a></div>
			        </div>
            </div>
        </div>
        
    </div>
</nav>
