<div class="home">

    <div class="container">

        <div class="row">
            <div class="col-md-6 section">
            	<div class="matched_unmatched" ng-init="getLeftData()">
            		<div id="grid1" ui-grid="gridOptions"  ui-grid-selection ui-grid-pagination class="grid"></div>
            	</div>
            </div>
            <div class="col-md-6 section">
            	<div class="possible">
            		<div ng-click="showBottom()">Click to See Bottom</div>
            	</div>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->
<div class="bottom section">

    <div class="container">

        <div class="row">
            <div class="col-md-12">
            	<div class="totalRecords" ng-show="showTotalRecords && !showBottomResult && totalRecords > 0">Total Records : {{totalRecords}}</div>
            	<div class="bottom_content" ng-show="showBottomResult"><div ng-include='"partials/bottom.html"'></div></div>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

